* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.blog {
  /* background-color: rgb(230, 229, 229); */
  padding: 20px;
  border-radius: 10px;
  /* width: 600px;
  height: 400px; */
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  gap: 90px;

  h3 {
    background-color: rgb(182, 178, 178);
    color: green;
    font-size: 25px;
  }
  p {
    font-size: 20px;
    text-align: start;
  }
}
.card {
  height: 400px;
  width: 650px;
  background-color: rgb(230, 229, 229);
  padding: 0 20px;
  border-radius: 20px;
}
.tech {
  margin-left: 20px;
}
div {
  h2 {
    text-align: center;
    font-weight: 700;
  }
}
.mainheader {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color: rgb(209, 232, 232)
}
.nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  li {
    list-style: none;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    
  }
  li:hover{
    color: green;
    transition: all;
    transition-duration: 3sec;
  }
}
footer{
  text-align: center;
  margin-top: 90px;
}
