* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.blog {
  background-color: rgb(230, 229, 229);
  padding: 20px;
  border-radius: 10px;
  h3 {
    color: green;
    font-size: 25px;
  }
  p {
    font-size: 20px;
  }
}
